/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans|Oxygen+Mono);

/* GLOBAL STYLES */
body {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans Serif';
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

code {
    font-family: 'Oxygen Mono', 'Monospace';
    background-color: #EFF0F2;
    padding: 1.5ex;
    line-height: 1;
    display: inline-block;
}

h1, h2, h3 {
    font-family: 'Dosis', 'sans-serif';
    color: #999;
    padding-top: 0.5ex;
    padding-bottom: 0.1ex;
}

html {
    position: relative;
    min-height: 100%;
}

legend {
    font-family: 'Dosis';
}

p {
    padding-bottom: 1ex;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #EFF0F2;
    padding: 1ex;
}

#content {
    padding-bottom: 5ex;
}

.btn, .td-gray {
    background-color: #EEE;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #DDD;
}

.input-group-addon {
    background-color: #FFF !important;
}

.blam .jumbotron {
    background-color: transparent;
    font-weight: 500;
    font-size: 22.5px;
    max-width: 62ex;
    margin: 0px auto;
}

.blam .jumbotron h1 {
    text-align: center;
    font-size: 36pt;
}

.blam .jumbotron .lead {
    padding-top: 48px;
}

.main-content, .submenu {
    margin-top: 1ex;
}

.demo-area {
    text-align: center;
    padding: 3em;
    background-color: #EFF0F2;
}

.demo-area h2 {
    color: #697883;
}

.docbrowser {
    padding: 1ex;
}

.masthead h1 {
    margin: 0px;
}

.masthead-wrap, .blam, .messages{
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/blurr4.jpg');
    color: white;
}

.masthead .nav a, .masthead .nav a:hover {
    color: #FFF;
    border-top: 7px solid transparent;
    display: block;
    font-size: 130%;
    opacity: 0.8;
    padding: 10px 2ex 20px;
    text-transform: lowercase;
}

.masthead .nav {
}

.masthead .nav a:hover, .masthead .nav a:active {
    border-top: 7px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) repeat scroll 0% 0% transparent;
}

.masthead .active a {
    opacity: 1;
    border-top: 7px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) repeat scroll 0% 0% transparent;
}

.masthead .nav a, .demo-area h3 {
    text-transform: lowercase;
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
}
.nav > li > a, .nav > li > p {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.nav > li > p {
    color: gray;
}

.nav a, .nav p, .blam {
    font-family: 'Dosis';
}
a {
    color: #428D98;
    text-decoration: none;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.scl-toolbar {
    float: right;
}

.pagination {
    padding-top: 10px;
    text-align: center;
}

table.yum-repos th,
table.yum-repos td {
    padding: 5px;
}

.collections-list .stars {
    float: right;
    padding-top: 1.5ex;
}

.page-header h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.scl-tags {
    line-height: 1.7;
}

.control-label {
    padding-right: 0px;
}

.repos td {
    vertical-align: middle;
}

.img-cell {
    width: 32px;
    padding: 5px !important;
}

.approved {
    color: #FFB428;
}

