table#indexlist {
    width: 100%;
    margin-top: 2ex;
}

table#indexlist td {
    padding: 5px;
}

table#indexlist tr.odd {
    background-color: #eee;
}

tr.indexbreakrow hr {
    margin: 5px 0 5px;
}

