[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
softwarecollections = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-django = "*"
pyyaml = "*"
pytest-runner = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"

[scripts]
manage = "python ./manage.py"
"manage.py" = "python ./manage.py"
warn-manage = "python -Wall::DeprecationWarning -Wignore:'__class__ not set' -Wignore:\"'U' mode\" -Wignore:'the imp module' ./manage.py"
