{% load sekizai_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
<!-- <![endif] -->
    <head>
        <title>
        {% block title %}{% endblock %} &mdash; Software Collections
        </title>
        <meta charset='utf-8' />
        <meta content='' name='description' />
        <meta content='Garrett LeSage' name='author' />
        <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport' />
        <link href='/static/images/favicon.ico' rel='shortcut icon' />
        <link href='/static/images/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed' />
        <link href='/static/images/apple-touch-icon-57x57-precomposed.png' rel='apple-touch-icon-precomposed' sizes='57x57' />
        <link href='/static/images/apple-touch-icon-72x72-precomposed.png' rel='apple-touch-icon-precomposed' sizes='72x72' />
        <link href='/static/images/apple-touch-icon-114x114-precomposed.png' rel='apple-touch-icon-precomposed' sizes='114x114' />
        <link href="/static/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
        {% render_block "css" %}
    </head>
    <body class='index source-haml'>
        <!-- Blurry sunset picture by Garrett LeSage -->
        <!-- Original (non-blurry) @ http://flickr.com/photos/garrett/4252583981/ -->
        <div class='masthead-wrap'>
            <div class='masthead'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-3'>
                            <h1><a href="/"><img class="logo" alt="" width="94" height="39" src="/static/images/logo.png" /></a></h1>
                        </div>
                        <div class='col-md-9'>
                            {% include "menu.html" %}
                        </div>
                    </div>
                    {# TODO: find the right place and style for messages #}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block base_content %}{% endblock %}

        <div class='text-center' id='footer'>
            &copy; 2013 Red Hat, Inc.
        </div>

        <script src="/static/javascripts/application.js" type="text/javascript"></script>
        <script src="/static/javascripts/production.js" type="text/javascript"></script>
        {% render_block "js" %}
    </body>
</html>
