{% load url from future %}
<nav role='navigation'>
    <ul class='nav nav-justified'>
        <li class='{% if request.path|slice:":10" == "/en/about/" %}active{% endif %}' role='menuitem'>
            <a href='/en/about/'>about</a>
        </li>
        <li class='{% if request.path|slice:":9" == "/en/docs/" %}active{% endif %}' role='menuitem'>
            <a href='/en/docs/'>docs & guides</a>
        </li>
        <li class='' role='menuitem'>
            <a href='https://ask.softwarecollections.org/questions/'>ask a question</a>
        </li>
        <li class='{% if request.path|slice:":9" == "/en/scls/" %}active{% endif %}' role='menuitem'>
            <a href='/en/scls/'>browse</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class='' role='menuitem'>
            <a href='{% url "fas:logout" %}'>{{ request.user.get_username }} logout</a>
        </li>
        {% else %}
        <li class='' role='menuitem'>
            <a href='{% url "fas:login" %}?next={{ request.path }}'>login</a>
        </li>
        {% endif %}
    </ul>
</nav>
