
{% extends "base.html" %}

{% block base_content %}
    <div class='content' id='content'>
        <div class="container">
            <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser.
            <a href="http://browsehappy.com/">Upgrade your browser today</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->
            <div class="row submenu-content-wrap">
                <div class="col-sm-3 submenu">
                    <nav role='navigation'>
                        <ul class='docbrowser nav nav-stacked'>
                            {% block submenu %}{% endblock %}
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-9 main-content">
                    {% block breadcrumbs %}{% endblock %}
                    {% block header %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id='root-footer'></div>
        </div>
    </div>
{% endblock %}
