{% extends "home.html" %}

{% block title %}Software Collections{% endblock %}

{% block content %}
<!-- JUMBOTRON -->
<div class='blam'>
    <div class='jumbotron'>
        <h1> All versions of any software<br />
        on your system. Together.</h1>
        <div class='lead'>
            Use multiple versions of software and libraries on the same system.
        </div>
    </div>
</div>

<!-- AWARD 
<div class='award visible-xs visible-sm'>
    <div class='container text-center'>
        <p><img src='/static/images/coding-environments.png' /><br />
        DeveloperWeek Award for Top Innovator</p>
    </div>
</div>
<div class='award hidden-xs hidden-sm'>
    <div class='container text-center'>
        <p><span style='display: inline-block'>DeveloperWeek Award</span>
            <img src='/static/images/coding-environments.png' />
    <span style='display: inline-block'>for Top Innovator</span></p>
    </div>
</div>  -->

<div class='container homepage-container'> 
    <div class="row">
        <div class="col-md-7">
            <h2><strong>Life cycle is independent</strong> of the distribution</h2>
            <p>With the level of stability, support and updates you choose.</p>
        </div>
        <div class="col-md-5">
            <div class="distribution-logo">
                <img src="/static/scls/icons/fedora.png" width="70" height="70">
                <p>Fedora 19, 20, 21</p>
            </div>
            <div class="distribution-logo">
                <img src="/static/scls/icons/rhel.png" width="70" height="70">
                <p>RHEL 5, 6, 7</p>
            </div>
            <div class="distribution-logo">
                <img src="/static/scls/icons/centos.png" width="70" height="70">
                <p>CentOS 5, 6, 7</p>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <h2>It&#39;s easy to set up</h2>

            <ol>
                <li><p>Install the Software Collections tools:</p>
                <p><code>yum install scl-utils</code></p></li>

                <li><p>Browse available versions:</p>
                <p><code>yum list available | grep rhscl</code></p></li>

                <li><p>Install a collection:</p>
                <p><code>yum install python33-*</code></p></li>

                <li><p>Start using software collections!</p>
                <p><code>scl enable python33 idle</code></p></li>
            </ol>
        </div>

        <div class='col-md-6'>
            <h2>It&#39;s easy to develop for:</h2>

            <ol>
                <li><p>Red Hat Enterprise Linux (RHEL)</p></li>
                <li><p>CentOS and Scientific Linux</p></li>
                <li><p>Fedora Linux</p></li>
            </ol>

            <p>SoftwareCollections.org is designed to be a community of people who create
            and use Software Collections for production systems, proof-of-concept systems,
            and development testbeds.</p>

            <p>Developers can build on existing SCLs, so they don&#39;t need to re-invent the
            wheel or take responsibility for packaging unnecessary dependencies. Need a
            newer version of Java or Python with your app? Use an existing SCL instead.</p>

            <p>Ready to go? <a href="/docs/quick-start/">Let&#39;s get started!</a></p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <h2>Find Your Collections</h2>

            <p>Looking for a new release of Ruby, Python, Perl, or want to
            install Node.js on your RHEL 6 system? How about an alternative to
            MySQL, MariaDB 5.5, or PostgreSQL 9.2? You can find the components
            you need in the <a href="scls">SoftwareCollections.org directory</a>.</p>
        </div>

        <div class='col-md-6'>
            <h2>Developer QuickStart</h2>

            <p>Need to create a Software Collection for your project or product?
            Get started with our <a href="docs/quick-start">SCL walkthrough</a>,
            which will show you how to modify the RPM spec file(s) for your
            project and create an easy to install Software Collection.</p>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <h2>Supported SCLs</h2>

            <p>For supported Software Collections for RHEL, you&#39;ll find
            <a href="https://access.redhat.com/site/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Developer_Guide/chap-RHSCL.html">documentation on the Red Hat Customer Portal</a>,
            and access the Red Hat Software Collection channels
            <a href="http://www.redhat.com/GetRedHatSoftwareCollections.html">on the Red Hat Network</a>
            (RHN).</p>

            <p>Note that a qualifying subscription for Red Hat Software
            Collections is required.</p>
        </div>

        <div class='col-md-6'>
            <h2>Get in touch</h2>

            <p>For everybody who wants to discuss public issues with SCL, there is a mailing list at
            <a href='mailto:sclorg@redhat.com'>sclorg@redhat.com</a> (more info at
            <a href='https://www.redhat.com/mailman/listinfo/sclorg' target='_blank'>https://www.redhat.com/mailman/listinfo/sclorg</a>).</p>
        </div>
    </div>
</div>

{% endblock %}
