{% extends "home.html" %}

{% block title %}Software Collections{% endblock %}

{% block content %}
<div class='blam'>
<div class='jumbotron'>
<h1>
A new way to use fast-paced
<br>
and unique software
</h1>
<div class='lead'>
Software Collections give you power to build, install, and use
multiple versions of software on the same system, without
affecting system-wide installed packages.
</div>
</div>
</div>
<div class='demo-area'>
<div class='container'>
<div class='row'>
<div class='col-md-12'>
<h2>There are a several ways to use Software Collections</h2>
</div>
</div>
<div class='row demos'>
<div class='col-md-4'>
<h3>Run a command</h3>

<p><code>scl enable python33 ./hello.py</code></p>
</div>
<div class='col-md-4'>
<h3>Start a session</h3>

<p><code>scl enable python33 bash</code></p>
</div>
<div class='col-md-4'>
<h3>Enable a server</h3>

<p><code>chkconfig mariadb55-mysqld on</code></p>

<p><code>/etc/init.d/mariadb55-mysqld start</code></p>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='row'>
<div class='col-md-6'>
<h2>It&#39;s easy to set up</h2>

<ol>
<li><p>Install the Software Collections tools:</p>

<p><code>yum install -y scl-utils</code></p></li>
<li><p>Browse available versions:</p>

<p><code>yum list available | grep rhscl</code></p></li>
<li><p>Install a collection:</p>

<p><code>yum install python33-*</code></p></li>
<li><p>Start using software collections!</p>

<p><code>scl enable python33 idle</code></p></li>
</ol>
</div>
<div class='col-md-6'>
<h2>It&#39;s easy to develop for:</h2>

<ol>
<li><p>Red Hat Enterprise Linux (RHEL)</p></li>
<li><p>CentOS and Scientific Linux</p></li>
<li><p>Fedora Linux</p></li>
</ol>

<p>SoftwareCollections.org is designed to be a community of people who create
and use Software Collections for production systems, proof-of-concept systems,
and development testbeds.</p>

<p>Developers can build on existing SCLs, so they don&#39;t need to re-invent the
wheel or take responsibility for packaging unnecessary dependencies. Need a
newer version of Java or Python with your app? Use an existing SCL instead.</p>

<p>Ready to go? <a href="/docs/quick-start/">Let&#39;s get started!</a></p>
</div>
</div>
<div class='row'>
<div class='col-md-4'>
<h2>Find Your Collections</h2>

<p>Looking for a new release of Ruby, Python, Perl, or want to
install Node.js on your RHEL 6 system? How about an alternative to
MySQL, MariaDB 5.5, or PostgreSQL 9.2? You can find the components
you need in the <a href="scls">SoftwareCollections.org directory</a>.</p>
</div>
<div class='col-md-4'>
<h2>Developer QuickStart</h2>

<p>Need to create a Software Collection for your project or product?
Get started with our <a href="docs/quick-start">SCL walkthrough</a>,
which will show you how to modify the RPM spec file(s) for your
project and create an easy to install Software Collection.</p>
</div>
<div class='col-md-4'>
<h2>Supported SCLs</h2>

<p>For supported Software Collections for RHEL, you&#39;ll find
<a href="https://access.redhat.com/site/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Developer_Guide/chap-RHSCL.html">documentation on the Red Hat Customer
Portal</a>,
and access the Red Hat Software Collection channels <a href="http://www.redhat.com/GetRedHatSoftwareCollections.html">on the Red
Hat
Network</a>
(RHN).</p>

<p>Note that a qualifying subscription for Red Hat Software
Collections is required.</p>
</div>
</div>
</div>

{% endblock %}
