{% load i18n %}


<div class='panel panel-default'>
    <div class='panel-body'>
        <form id='filter-form' role='form'>
            <div class='form-group form-inline'>
            <div class="row">

                <div class="form-group col-sm-10">
                    <div class='input-group'>
                        {{ filter_form.search }}
                        <span class='input-group-addon'>
                            {{ filter_form.search_desc }}
                            {{ filter_form.search_desc.label }}
                        </span>
                    </div>
                </div>

                <div class="form-group col-sm-2 hidden-xs">
                    <button  class='btn btn-primary btn-block' type='submit'>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            </div>

            <div class='form-inline'>

                <div class="form-group">
                    <label for='{{ filter_form.policy.id_for_label }}' class='sr-only'>Policy</label>
                    {{ filter_form.policy }}
                </div>

                <div class="form-group">
                    <label for='{{ filter_form.repo.id_for_label }}' class='sr-only'>Repo</label>
                    {{ filter_form.repo }}
                </div>

                <div class="form-group">
                    <label for='{{ filter_form.order_by.id_for_label}}'class='sr-only'>
                        {{ filter_form.order_by.label }}
                    </label>
                    {{ filter_form.order_by }}
                </div>

                <div class="form-group">
                    <label for='{{ filter_form.per_page.id_for_label}}' class='sr-only'>
                        {{ filter_form.per_page.label }}
                    </label>
                    {{ filter_form.per_page }}
                </div>

                <div class="form-group">
                    <label for='{{ filter_form.approved.id_for_label }}'class='sr-only'>
                        {{ filter_form.approved.label }}
                    </label>
                    {{ filter_form.approved }} approved only
                </div>

                <div class="form-group visible-xs ">
                    <button  class='btn btn-primary btn-block' type='submit'>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
