{% if collections.has_other_pages %}
        <nav class="paginator">
            <ul class="pagination">
                {% if collections.has_previous %}
                    <li><a href="?{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ collections.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                {% for page in collections.paginator.page_range %}
                    <li {% if forloop.counter == collections.number %} class="active" {% endif %} ><a href="?page={{page}}">{{page}}</a></li>
                {% endfor %}

                {% if collections.has_next %}
                    <li><a href="?{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ collections.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
{% endif %}
