{% extends "with_submenu.html" %}
{% load sekizai_tags %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}New Collection{% endblock %}

{% block content %}

{% if form.errors %}
    {% for error in form.errors %}
        <div class='alert alert-danger'>{{ error }}</div>
    {% endfor %}
{% endif %}

<h1>New Collection</h1>

<p>
    This form is used to import packages from an existing <a target="_new" href="http://copr-fe.cloud.fedoraproject.org/">Copr</a> project.
    For more information on how to build Your collection in Copr see <a href="/en/docs/developers/">Software Collections for Developers</a>.
</p>

<form action="" method="get" class='form-horizontal'>
    <div class='row'>
        <div class='form-group'>
            <label for='{{ form.copr_username.id_for_label }}'
                class='control-label col-md-3'>{{ form.copr_username.label }}</label>

            <div class='col-md-9'>
                <div class='input-group'>
                    <input class='form-control' id="id_copr_username" maxlength="100" name="copr_username" type="text" value="{{ form.copr_username.value }}" />
                    <span class='input-group-btn'>
                        <input class='btn btn-default' type="submit" value="Change Copr User" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" method="post" class='form-horizontal'>{% csrf_token %}
    {{ form.copr_username }}
    {{ form.maintainer }}

    <div class='row'>
        <!-- COPR NAME -->
        <div class='form-group'>
            <label for='{{ form.copr_name.id_for_label }}'
                class='control-label col-md-3'>{{ form.copr_name.label }}</label>
            <div class='col-md-9'>
                {{ form.copr_name }}
            </div>
        </div>

        <div class='form-group'>
            <label for='{{ form.name.id_for_label }}'
                class='control-label col-md-3'>{{ form.name.label }}</label>
            <div class='col-md-9'>
                {{ form.name }}
            </div>
        </div>
        <!-- POLICY -->
        <div class='form-group'>
            <label for='{{ form.policy.id_for_label}}'
                class='control-label col-md-3'>{{ form.policy.label }}</label>
            <div class='col-md-9'>
                {{ form.policy }}
            </div>
        </div>

        <!-- SUBMIT -->
        <div class='form-group'>
            <div class='col-md-9 col-md-offset-3'>
                <input class='btn btn-default' type="submit" value="Import" />
            </div>
        </div>
    </div>
</form>

{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[

    jQuery(document).ready(function (){
        jQuery("#id_copr_name").blur(function () {
            var e = jQuery("#id_name")[0];
            if(!e._changed) {
                e.value = this.value;
            }
        });
    });

//]]>
</script>
{% endaddtoblock %}

{% endblock %}
