{% extends "scls/softwarecollection_sub_base.html" %}
{% block scl_menu_repos %} active btn-primary {% endblock %}

{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Manage repositories{% endblock %}

{% block content %}

<h2> Manage Repositories </h2>
<p> Use this form to add or remove Copr repositories to your project. You can add more Copr projects in the coprs section. </p>

{% for error in form.non_field_errors %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<form action="" method="post" class='form-horizontal'>{% csrf_token %}
    {% for item in form %}
        <div class='form-group'>
            <label for='{{ item.id_for_label }}'
                class='control-label col-md-3'>{{ item.label }}</label>
            <div class='col-md-9{% if item.errors %} alert alert-danger{% endif %}'>
                {{ item }}
                {% for error in item.errors %}
                    <div>{{ error }}</div>
                {% endfor %}

                {% if item.help_text %}
                    <span class='help-block'>{{ item.help_text }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <!-- SUBMIT -->
    <div class='form-group'>
        <div class='col-md-9 col-md-offset-3'>
            <input class='btn btn-primary' type='submit' value='Save changes' />
        </div>
    </div>
</form>

{% endblock %}
