{% extends "with_submenu.html" %}
{% load auth %}
{% load md2 %}
{% load rating_stars %}
{% load sekizai_tags %}
{% load url from future %}

{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}{{ scl.title }}{% endblock %}

{% block content %}
{% addtoblock "css" %}
    <link href="/static/scls/style.css" media="screen" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% allowed 'edit' obj=scl %}
<div class="scl-toolbar btn-group btn-group-sm">
    <a class='btn btn-default' href="{% url "scls:edit" scl %}">edit</a>
    <a class='btn btn-default' href="{% url "scls:acl" scl %}">collaborators</a>
    <a class='btn btn-default' href="{% url "scls:repos" scl %}">repos</a>

    {% if scl.auto_sync %}
        <div class='btn btn-default disabled' title='automatic synchronization with copr repositories is enabled'>auto sync</div>
    {% elif scl.need_sync %}
        <div class='btn btn-default active' title='synchronization with copr repositories is requested'>sync requested</div>
    {% else %}
        <a class='btn btn-default' href="{% url "scls:sync_req" scl %}">request sync</a>
    {% endif %}

    {% if scl.approved %}
    <span class='btn btn-default disabled'>approved</span>
    {% elif scl.review_req %}
    <span class='btn btn-default active'>review requested</span>
    {% else %}
    <a class='btn btn-default' href="{% url "scls:review_req" scl %}">review request</a>
    {% endif %}
    <a class='btn btn-default' href="{% url "scls:delete" scl %}">delete</a>
</div>
{% endallowed %}

<div class='page-header'>
<h1>{{ scl.title }}
    <small>
        {% if scl.approved %}
            <span class='glyphicon glyphicon-ok-circle approved'
                title='This collection has been approved'></span>
        {% endif %}
        by
        <a href="{% url "scls:list_user" scl.maintainer.username %}">
            {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
        </a>
    </small>
</h1>
</div>
{{ scl.description | markdown2:"safe" }}

<h2>Instructions</h2>
{{ scl.instructions | markdown2:"safe" }}

<h2>Policy</h2>
{{ scl.policy_text | markdown2 }}

<h2>Yum Repositories
    {% if scl.last_modified %}
        <small>
        <td>{{ scl.last_modified }}</td>
        </small>
    {% endif %}
</h2>
<div class='panel panel-default'>
    <table class='table table-hover repos'>
        <thead>
            <tr class=''>
                <th></th>
                <th>Distribution</th>
                <th>Architecture</th>
                <th>Download</th>
                <th>Link</th>
            </tr>
        </thead>
        {% for repo in scl.enabled_repos %}
        <tr>
            <td class='img-cell'><img src="{{ repo.get_icon_url }}" width="32" height="32" alt=""/></td>
            <td><strong>{{ repo.distro | capfirst }} {{ repo.version }}</strong></td>
            <td>{{ repo.arch }}</td>
            {% if scl.last_modified %}
                <td>
                    <a href="{% url "scls:download" repo.slug %}{{ repo.rpmfile }}" title="{{ repo.rpmfile }}">RPM</a>
                    {{ repo.download_count }}x
                </td>
            {% else %}
                <td>(not synced)</td>
            {% endif %}
            <td><a href="{{ repo.get_repo_url }}" target="_new" title="browse repo content">browse</a></td>
        </tr>
        {% empty %}
            <td></td>
            <td colspan='4'><em>No repos available</em></td>
        {% endfor %}
    </table>
</div>

<h2>Tags</h2>
<div class="scl-tags">
    {% for tag in scl.tags %}
        <a class='label label-default' href="{% url "scls:list_tag" tag.name %}" class="scl-tag scl-tag-{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
</div>

{% if scl.score_count %}
<h2>Rating</h2>
{% rating_stars 'passive' scl %}
<p>Rated by {{ scl.score_count }} user{{ scl.score_count|pluralize }}</p>
{% endif %}

{% allowed 'rate' obj=scl %}
{% if user_score %}
<strong>Your rating:</strong>
{% else %}
<strong>Rate this collection:</strong>
{% endif %}
{% rating_stars 'active' scl user_score %}
{% endallowed %}

{% endblock %}
