{% extends "with_submenu.html" %}
{% load auth %}
{% load md2 %}
{% load rating_stars %}
{% load url from future %}

{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}{{ scl.title }}{% endblock %}

{% block content %}

<div class='page-header'>
    <div class='icons'>
        {% if scl.approved %}
        <span class="approved"><span class="glyphicon glyphicon-ok"> </span> approved</span>
        {% endif %}
    </div>
    <h1>{{ scl.title }}
        <small>
            by
            <a href="{% url "scls:list_user" scl.maintainer.username %}">
                {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
            </a>
        </small>
    </h1>

    {% allowed 'edit' obj=scl %}
    <div class="scl-toolbar">
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <a class='btn btn-default' href="{% url "scls:edit" scl %}">edit</a>
                <a class='btn btn-default' href="{% url "scls:acl" scl %}">collaborators</a>
                <a class='btn btn-default' href="{% url "scls:coprs" scl %}">coprs</a>
                <a class='btn btn-default' href="{% url "scls:repos" scl %}">repos</a>
            </div>
            <div class="btn-group btn-group-sm">
                {% if scl.auto_sync %}
                    <div class='btn btn-default disabled' title='automatic synchronization with copr repositories is enabled'>auto sync</div>
                {% elif scl.need_sync %}
                    <div class='btn btn-default active' title='synchronization with copr repositories is requested'>sync requested</div>
                {% else %}
                    <a class='btn btn-default' href="{% url "scls:sync_req" scl %}">request sync</a>
                {% endif %}

                {% if scl.approved %}
                <span class='btn btn-default disabled'>approved</span>
                {% elif scl.review_req %}
                <span class='btn btn-default active'>review requested</span>
                {% else %}
                <a class='btn btn-default' href="{% url "scls:review_req" scl %}">review request</a>
                {% endif %}
            </div>
            <div class="btn-group btn-group-sm">
                <a class='btn btn-default' href="{% url "scls:delete" scl %}">delete</a>
            </div>
        </div>
    </div>
    {% endallowed %}
</div>

{{ scl.description | markdown2:"safe" }}

{% if scl.upstream_url %}
<a class="btn btn-default" href="{{ scl.upstream_url }}" target="_blank"><span class="glyphicon glyphicon-home"></span> Project homepage</a>
{% endif %}

{% if scl.issue_tracker %}
<a class="btn btn-default" href="{{ scl.issue_tracker }}" target="_blank" title="report a bug">
    <span class="glyphicon glyphicon-exclamation-sign"> </span> Issue Tracker</a>
{% endif %}

<h2>Instructions</h2>
{{ scl.instructions | markdown2:"safe" }}

<h2>Policy</h2>
{{ scl.policy_text | markdown2 }}

{% if scl.requires.all or scl.required_by.all %}
    <h2>Related software collections</h2>
    {% if scl.requires.all %}
        <p>Some packages from this collection require packages provided by these collections:</p>
        <ul>
            {% for req in scl.requires.all %}
            <li>
                <a href="{{ req.get_absolute_url }}">{{ req.title }}</a>
                <small>
                    {% if req.approved %}
                        <span class='glyphicon glyphicon-ok-circle approved'
                            title='This collection has been approved'></span>
                    {% endif %}
                    by
                    <a href="{% url "scls:list_user" req.maintainer.username %}">
                        {% if req.maintainer.get_full_name %}{{ req.maintainer.get_full_name }}{% else %}{{ req.maintainer.username }}{% endif %}
                    </a>
                </small>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if scl.required_by.all %}
        <p>This collection provides packages, which may be required by some package from these collections:</p>
        <ul>
            {% for req in scl.required_by.all %}
            <li>
                <a href="{{ req.get_absolute_url }}">{{ req.title }}</a>
                <small>
                    {% if req.approved %}
                        <span class='glyphicon glyphicon-ok-circle approved'
                            title='This collection has been approved'></span>
                    {% endif %}
                    by
                    <a href="{% url "scls:list_user" req.maintainer.username %}">
                        {% if req.maintainer.get_full_name %}{{ req.maintainer.get_full_name }}{% else %}{{ req.maintainer.username }}{% endif %}
                    </a>
                </small>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<h2>Related COPR projects</h2>
<ul>
    {% for copr in scl.all_coprs %}
    <li><a href="{{ copr.get_url }}">{{ copr.username }}/{{ copr.name }}</a></li>
    {% endfor %}
</ul>

<h2>Yum Repositories
    {% if scl.last_modified %}
        <small>
        <td>{{ scl.last_modified }}</td>
        </small>
    {% endif %}
</h2>
<div class='panel panel-default'>
    <table class='table table-hover repos'>
        <thead>
            <tr class=''>
                <th>Operating system</th>
                <th>Package with repo</th>
                <th>Browse files</th>
            </tr>
        </thead>
        {% for group in scl.all_repos_grouped %}
        <tr>
            <td >
                {% for os in group.0 %}
                    <img src="{{ os.1 }}" width="32" height="32" alt=""/>
                    <strong>{{ os.0 | capfirst }}</strong>
                    {% if not forloop.last %} <small> and </small> {% endif %}
                {% endfor %}
            </td>
            {% if scl.last_synced %}
                <td>
                    {% for repo in group.1 %}
                        <a href="{% url "scls:download" repo.slug %}{{ repo.rpmfile_symlink }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"> {{ repo.arch }} </span></a>
                    {% endfor %}
                </td>
                <td>
                    {% for repo in group.1 %}
                        <a href="{{ repo.get_repo_url }}">{{ repo.arch }}</a>
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </td>
            {% else %}
                <td colspan="2">Waiting for synchronization.</td>
            {% endif %}
        </tr>
        {% empty %}
            <td></td>
            <td colspan='4'><em>No repos available</em></td>
        {% endfor %}
    </table>
</div>

<h2>Tags</h2>
<div class="scl-tags">
    {% for tag in scl.tags %}
        <a class='label label-default' href="{% url "scls:list_tag" tag.name %}" class="scl-tag scl-tag-{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
</div>

<h2>Rating</h2>
<div class='row'>
    {% if scl.score_count %}
        <div class='col-md-6'>
            {% rating_stars 'passive' scl %}
            <p>Rated by {{ scl.score_count }} user{{ scl.score_count|pluralize }}</p>
        </div>
    {% endif %}
    <div class='col-md-6'>
        {% allowed 'rate' obj=scl %}
            {% rating_stars 'active' scl user_score %}
            {% if user_score %}
                <strong>Your rating:</strong>
            {% else %}
                <strong>Rate this collection:</strong>
            {% endif %}
        {% endallowed %}
    </div>
</div>
        {% allowed 'edit' obj=scl %}
        {% notallowed %}
        <a href="{% url "scls:complain" scl %}"
            title="report abuse" class="btn btn-danger btn-sm"><span class='glyphicon glyphicon-ban-circle report-abuse'></span> Report malicious content</a>
        {% endallowed %}

{% endblock %}
