{% extends "with_submenu.html" %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Directory{% endblock %}

{% block content %}
<h1>Manage Collaborators</h1>
{% if collab %}
<table>
    <tr>
        <th>Username</th>
        <th>Full name</th>
    </tr>
    {% for user in collab %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name}}</td>
        <td>
            <form action="" method="post">{% csrf_token %}
                <input type="hidden" name="user" value="{{user.pk}}"/>
                <button type="submit" name="action" value="delete">Remove</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if non_collab %}
<h2>Add new collaborator:</h2>
<form action="" method="post">{% csrf_token %}
    <table>
        <tr>
            <td>
                <select name="user">
                    {% for user in non_collab %}
                    <option value="{{ user.pk }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit" name="action" value="add">Add</button>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock %}
