{% load auth %}
{% load md2 %}
{% load rating_stars %}
{% load url from future %}
{% load truncate_tags %}
{% load policy_name %}

<div class="scl_preview">
    <div class='preview_header'>
        <h2><a href='{{ scl.get_absolute_url }}'>{{ scl.title }}</a>
            <small>
                by
                <a href="{% url "scls:list_user" scl.maintainer.username %}">
                    {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
                </a>
                {% if scl.score_count %}
                    {% rating_stars 'passive' scl %}
                {% endif %}
            </small>
        </h2>
    </div>

    <div class='row'>
        <div class='col-md-12 preview_description'>
            {% if scl.description %}
                {% truncate 50 words_html %}
                    {{ scl.description | markdown2:"safe" }}
                {% truncatestop %}... <a href='{{ scl.get_absolute_url }}'>[more]</a>{% endtruncate %}
            {% else %}
                <em>No description available</em>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 preview_footer'>
            <p>
                {{ scl.policy | policy_name }} | 
                {% if scl.approved %}
                    <span class="approved"><span class="glyphicon glyphicon-ok"></span> approved </span> | 
                {% endif %}
                {{ scl.download_count }} downloads
            </p>
        </div>
    </div>
</div>
