{% extends "with_submenu.html" %}
{% load auth %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/en/">Home</a></li>
        <li><a href="/en/scls/">Browse Collections</a></li>
        <li><a href="{% url "scls:list_user" scl.maintainer.username %}">
            {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
        </a></li>
        <li class="active">{% block title %}{%endblock%}</li>
    </ol>
{% endblock %}
{% block header %}
<div class='page-header'>
    <div class='icons'>
        {% if scl.approved %}
        <span class="approved"><span class="glyphicon glyphicon-ok"> </span> approved</span>
        {% endif %}
    </div>
    <h1>{{ scl.title }}
        <small>
            by
            <a href="{% url "scls:list_user" scl.maintainer.username %}">
                {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
            </a>
        </small>
    </h1>
    
    {% allowed 'edit' obj=scl %}
    <div class="scl-toolbar">
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <a class='{%block scl_menu_overview%}btn-default{%endblock%} btn' href="{{ scl.get_absolute_url }}">overview</a>
                <a class='{%block scl_menu_edit%} btn-default{%endblock%} btn' href="{% url "scls:edit" scl %}">edit</a>
                <a class='{%block scl_menu_collaborators%} btn-default{%endblock%} btn' href="{% url "scls:acl" scl %}">collaborators</a>
                <a class='{%block scl_menu_coprs%} btn-default{%endblock%} btn' href="{% url "scls:coprs" scl %}">coprs</a>
                <a class='{%block scl_menu_repos%} btn-default{%endblock%} btn' href="{% url "scls:repos" scl %}">repos</a>
                <a class='{%block scl_menu_delete%} btn-default{%endblock%} btn' href="{% url "scls:delete" scl %}">delete</a>
            </div>
            <div class="btn-group btn-group-sm">
                {% if scl.auto_sync %}
                    <div class='btn btn-default disabled' title='automatic synchronization with copr repositories is enabled'>auto sync</div>
                {% elif scl.need_sync %}
                    <div class='btn btn-default active' title='synchronization with copr repositories is requested'>sync requested</div>
                {% else %}
                    <a class='{%block scl_menu_sync%} btn-default{%endblock%} btn' href="{% url "scls:sync_req" scl %}">request sync</a>
                {% endif %}

                {% if scl.approved %}
                <span class='btn btn-default disabled'>approved</span>
                {% elif scl.review_req %}
                <span class='btn btn-default active'>review requested</span>
                {% else %}
                <a class='{% block scl_menu_review %} btn-default {% endblock %}btn' href="{% url "scls:review_req" scl %}">request a review</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endallowed %}
    
</div>
{% endblock %}

