{% extends "with_submenu.html" %}
{% load auth %}
{% load md2 %}
{% load rating_stars %}
{% load url from future %}

{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}{{ scl.title }}{% endblock %}

{% block content %}
<h1>{{ scl.title }}</h1>
<p>
    by
    <maintainer>
        <a href="{% url "scls:list_user" scl.maintainer.username %}">
            {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
        </a>
    </maintainer>
</p>
<p><description>{{ scl.description | markdown2 }}</description></p>
<h2>Instructions</h2>
<p><instructions>{{ scl.instructions | markdown2 }}</instructions></p>
<h2>Policy</h2>
<p><policy>{{ scl.policy | markdown2 }}</policy></p>
<p class="scl-tags">
    {% for tag in scl.tags %}
        <a href="{% url "scls:list_tag" tag.name %}" class="scl-tag scl-tag-{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
</p>
<p>
    <a href="/repos/root-{{ scl.name }}/">Yum repository</a>
</p>
{% allowed 'edit' obj=scl %}
<p><a href="{{ scl.get_edit_url }}">edit</a></p>
{% notallowed %}
<p>You are not allowed to edit this collection.</p>
{% endallowed %}

{% if scl.score_count %}
<strong>Users' rating of this collection:</strong>
{% rating_stars 'passive' scl %}
<p>Rated by {{ scl.score_count }} user{{ scl.score_count|pluralize }}</p>
{% endif %}

{% allowed 'rate' obj=scl %}
{% if user_score %}
<strong>Your rating:</strong>
{% else %}
<strong>Rate this collection:</strong>
{% endif %}
{% rating_stars 'active' scl user_score %}
{% endallowed %}

{% endblock %}
