{% extends "with_submenu.html" %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Directory{% endblock %}

{% block content %}
<h1>New Collection</h1>
<form action="" method="get" class='form-horizontal'>
    <div class='row'>
        <div class='form-group'>
            <label for='{{ form.copr_username.id_for_label }}'
                class='control-label col-md-3'>{{ form.copr_username.label }}</label>

            <div class='col-md-9'>
                <div class='input-group'>
                    <input class='form-control' id="id_copr_username" maxlength="100" name="copr_username" type="text" value="{{ form.copr_username.value }}" />
                    <span class='input-group-btn'>
                        <input class='btn btn-default' type="submit" value="Change Copr User" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" method="post" class='form-horizontal'>{% csrf_token %}
    <div class='row'>
        <!-- COPR NAME -->
        <div class='form-group'>
            <label for='{{ form.copr_name.id_for_label }}'
                class='control-label col-md-3'>{{ form.copr_name.label }}</label>
            <div class='col-md-9'>
                {{ form.copr_name }}
            </div>
        </div>

        <div class='form-group'>
            <label for='{{ form.policy.id_for_label}}'
                class='control-label col-md-3'>{{ form.policy.label }}</label>
            <div class='col-md-9'>
                {{ form.policy }}
            </div>
        </div>

        <!-- SUBMIT -->
        <div class='form-group'>
            <div class='col-md-9 col-md-offset-3'>
                <input class='btn btn-default' type="submit" value="Import" />
            </div>
        </div>
    </div>
</form>
{% endblock %}
