{% extends "scls/softwarecollection_sub_base.html" %}
{% block scl_menu_sync %} active btn-primary {% endblock %}

{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Request Sync{% endblock %}

{% block content %}

{% for error in form.non_field_errors %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<form action="" method="post" class='form-horizontal'>{% csrf_token %}
    {{ form }}

    <p>
        Request synchronization of repositories from related Copr projects {{ form.instance.get_copr_tags | safe }}.
    </p>
    <p>
        Note that You may enable automatic synchronization or change Copr project
        <a href="{% url "scls:edit" form.instance %}">here</a>.
    </p>

    <!-- SUBMIT -->
    <div class='form-group'>
        <div class='col-md-9 col-md-offset-3'>
            <input class='btn btn-primary' type='submit' value='Submit synchronization request' />
        </div>
    </div>
</form>

{% endblock %}
