{% load auth %}
{% load md2 %}
{% load rating_stars %}
{% load url from future %}

<div class='page-header collections-list'>
    {% if scl.score_count %}
    {% rating_stars 'passive' scl %}
    {% endif %}
    <h1><a href='{{ scl.get_absolute_url }}'>{{ scl.title }}</a>
        <small>
            {% if scl.approved %}
                <span class='glyphicon glyphicon-ok-circle approved'
                    title='This collection has been approved'></span>
            {% endif %}
            <span style='display: inline-block'>by
                <a href="{% url "scls:list_user" scl.maintainer.username %}">
                    {% if scl.maintainer.get_full_name %}{{ scl.maintainer.get_full_name }}{% else %}{{ scl.maintainer.username }}{% endif %}
                </a>
            </span>
        </small>
    </h1>
</div>

{{ scl.description | markdown2:"safe" | truncatewords_html:50 }}
