{% extends "with_submenu.html" %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Directory{% endblock %}

{% block content %}
<h1>Delete collection</h1>

{% for error in form.non_field_errors %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<form action="" method="post" class='form-vertical'>{% csrf_token %}
    <h3>Do you really want to delete your collection?</h3>

    <p>
        This action is permanent and cannot be reverted back.
        To confirm that you really want to do it, type the name of your
        collection into field below:
    </p>
    <div class='form-group'>
        <div class='col-md-9{% if form.name.errors %} alert alert-danger{% endif %}'>
            <div class='input-group'>
                {{ form.name }}
                <span class='input-group-btn'>
                    <input class='btn btn-default' type="submit" value="Delete" />
                </span>
            </div>
            {% for error in form.name.errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
