{% extends "with_submenu.html" %}
{% block submenu %}{% include "scls/submenu.html" %}{% endblock %}

{% block title %}Directory{% endblock %}

{% block content %}
<h1>Directory</h1>
{% for scl in object_list %}
    <h1>{{ scl.name }} &mdash; {{ scl.version }}</h1>
    <p><summary>{{ scl.summary }}</summary></p>
    <p><description>{{ scl.description }}</description></p>
{% empty %}
    <p>No Software Collections yet.</p>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock %}
