{% load sekizai_tags %}

<div class='stars'>
    {% if active %}
        <form name="stars-{{scl.pk}}" method="POST" action="{% url "scls:rate" scl %}">
        {% csrf_token %}
        {{ form.as_p }}
    {% endif %}
    {% for i in "12345" %}<img
        {% if active %}
            onclick="scl_rate('{{scl.pk}}','{{i}}');"
            onmouseover="stars_show('{{scl.pk}}', {{i}})"
            onmouseout="stars_revert('{{scl.pk}}')"
            style="cursor: pointer"
            id="star-{{scl.pk}}-{{i}}"
        {% endif %}
        {% if forloop.counter <= score %}
            alt="*" class="star" src="/static/images/star.png"
        {% else %}
            alt="-" class="star_empty" src="/static/images/star_empty.png"
        {% endif %}
    />{% endfor %}
    {% if active %}
        </form>
    {% endif %}
    <br/>
</div>

{% addtoblock "js" %}
    <script type="text/javascript">
        function scl_rate(scl_id, score) {
            var form = document.forms["stars-" + scl_id];
            stars_show(scl_id, score);
            for (var i = 1; i <= 5; i++) {
                var img = document.getElementById("star-" + scl_id + '-' + i);
                img.onmouseover = null;
                img.onmouseout = null;
                if (i <= score) {
                    img.alt = '*';
                    img.src = '/static/images/star.png';
                } else {
                    img.alt = '-';
                    img.src = '/static/images/star_empty.png';
                }
            }
            form["score"].value = score;
            form.submit();
        }
        function stars_show(scl_id, score) {
            for (var i = 1; i <= 5; i++) {
                var img = document.getElementById("star-" + scl_id + '-' + i);
                if (i <= score) {
                    img.alt = '*';
                    img.src = '/static/images/star.png';
                } else {
                    img.alt = '-';
                    img.src = '/static/images/star_empty.png';
                }
            }
        }
        function stars_revert(scl_id) {
            for (var i = 1; i <= 5; i++) {
                var img = document.getElementById("star-" + scl_id + '-' + i);
                if (img.className == 'star') {
                    img.alt = '*';
                    img.src = '/static/images/star.png';
                } else {
                    img.alt = '-';
                    img.src = '/static/images/star_empty.png';
                }
            }
        }
    </script>
{% endaddtoblock %}
