{% load sekizai_tags %}

<span class='stars'>
    {% if active %}
        <form name="stars-{{scl.pk}}" method="POST" action="{% url "scls:rate" scl %}">
        {% csrf_token %}
        {{ form.as_p }}
    {% endif %}
    {% for i in "12345" %}<span
        {% if active %}
            style="cursor: pointer"
            id="star-{{scl.pk}}-{{i}}"
        {% endif %}
        {% if forloop.counter <= score %}
            alt="*" class="glyphicon glyphicon-star star"
        {% else %}
            alt="-" class="glyphicon glyphicon-star empty_star"
        {% endif %}
    ></span>{% endfor %}
    {% if active %}
        </form>
    {% endif %}
</span>

{% if active %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            rating = {{ score }}
            function makeStarId(scl_id, i) {
                return 'star-' + scl_id + '-' + i
            }

            function emptyStar(imgObject) {
                imgObject.attr('alt', '-')
                imgObject.attr('class', "glyphicon glyphicon-star empty_star")
            }

            function fillStar(imgObject) {
                imgObject.attr('alt', '*')
                imgObject.attr('class', "glyphicon glyphicon-star star")
            }

            $(function() {
                $('span[id^="star-"]').each(function() {
                    match = /star-(\d+)-(\d+)/.exec($(this).attr('id'))
                    var scl_id = match[1]
                    var score = match[2]
                    $(this).click(function() {
                        for (var i = 1; i <= 5; i++) {
                            img = $('span[id="' + makeStarId(scl_id, i) + '"]')
                            if (i <= score) {
                                fillStar(img)
                            } else {
                                emptyStar(img)
                            }
                        }
                        form = $('form[name=stars-' + scl_id + ']')
                        form.children('[name=score]').val(score)
                        form.submit()
                    })
                    $(this).mouseover(function() {
                        for (var i = 1; i <= 5; i++) {
                            img = $('span[id="' + makeStarId(scl_id, i) + '"]')
                            if (i <= score) {
                                fillStar(img)
                            } else {
                                emptyStar(img)
                            }
                        }
                    })
                    $(this).mouseleave(function() {
                        for (var i = 1; i <= 5; i++) {
                            img = $('span[id="' + makeStarId(scl_id, i) + '"]')
                            if (i <= rating) {
                                fillStar(img)
                            } else {
                                emptyStar(img)
                            }
                        }
                    })
                })
            })
        </script>
    {% endaddtoblock %}
{% endif %}
