{% extends "section_about.html" %}

{% block title %}Software Collections for Distros{% endblock %}

{% block content %}
<h2></h2>
<h1>Software Collections for Distros</h1>
<p>
All collections on SoftwareCollections.org are using the <code>/opt/sclo</code> prefix (not distribution specific).
</p>
<p>
Every distribution should register their own directory in the <code>/opt</code> directory and use it for their specific collections. The registration can requested in the Linux Foundation <a href="https://lsbbugs.linuxfoundation.org/">
BugZilla</a>, using the LANANA product.
</p>
<p>
The prefix is defined in the <b>scl-utils</b> package. You can find more about <b>scl-utils</b> macros at <a href="../developers">Software Collections for Developers</a>.
</p>
<p>
When building in Copr, it is easier to use a package with a redefiniton of the prefix.
For more information about building in Copr, see: <a href="https://fedorahosted.org/copr/wiki/ScreenshotsTutorial">https://fedorahosted.org/copr/wiki/ScreenshotsTutorial</a>.
</p>
<!--<p>
For instructions on how to create a package containing the prefix, see <a href="">TODO</a>.
</p>-->
{% endblock %}
