{% extends "section_about.html" %}

{% block title %}Licensing Guidelines{% endblock %}

{% block content %}

<h2>Licensing Guidelines</h2>

<p>
The goal of SoftwareCollections.org is to promote packaging and distribution of useful open source software outside the standard repositories for <a href="http://www.redhat.com/products/enterprise-linux/">Red Hat Enterprise Linux</a>, <a href="https://fedoraproject.org/">Fedora</a>, <a href="http://www.centos.org/">CentOS</a>, and other operating systems that utilize the <a href="http://rpm.org/">RPM package format</a>. 
</p>

<p>As part of this mission, we provide hosting and distribution for Software Collections (SCLs) developed by the community. We <strong>do not</strong> review source or packages for suitability of purpose, quality, or licensing &ndash; but we reserve the right to refuse or delete any packages or source code that does not comply with our policies. </p>

<h2>SoftwareCollections.org Policies</h2>

<p>We want to be as inclusive as possible, but we do have some limitations on what we can accept to be hosted on the site:</p>

<ul>
<li>If it's under a proprietary license, it's not suitable for inclusion.</li>
<li>If it's legally encumbered, it's not suitable for inclusion.</li>
<li>If it violates United States laws (specifically, Federal or applicable state laws), it's not suitable for inclusion.</li>
</ul>

<p>The Fedora Project has done an excellent job of developing a list of FOSS licenses that are acceptable for distribution, and a list of FOSS and Creative Commons licenses that are non-free, deprecated, or have usage/distribution restrictions that make them unsuitable. </p>

<p>We have decided to follow the Fedora Project and use its <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Software_License_List">Fedora Software License</a> list for acceptable and unacceptable licenses. Software that has a license approved by Fedora should be acceptable for hosting on SoftwareCollections.org, assuming it has no further problems (see "Patent Encumbered Software" and "Malware, Spyware, or Abusive Software"). </p>

<p>Fedora also has a specific list of <a href="https://fedoraproject.org/wiki/Forbidden_items">excluded software</a> &ndash; anything on this list would also be excluded from SoftwareCollections.org, but it is not exhaustive. </p>

<p>If your package is covered by a license on the "bad" list or a license that is not covered at all, it can't be accepted for hosting on SoftwareCollections.org. You may still create a SCL for your software following our guides on the site, but you'll have to build and host it elsewhere. </p>

<h2>Patent Encumbered Software</h2>

<p>Software that's known to be encumbered by software patents cannot be included on SoftwareCollections.org. The rationale for this is <a href="https://fedoraproject.org/wiki/Software_Patents">also well-covered by Fedora</a>. </p>                                                                

<h2>Malware, Spyware, or Abusive Software</h2>

<p>Finally, we may opt to refuse any package that falls under the categories of malware, spyware, or abusive software. This includes, but is not limited to, software that "phones home" without the user's knowledge, software that includes any sort of backdoor or trojan, or any software that is in any way abusive. </p>                                                                                                                           

<h2>Questions?</h2>

<p>If you have any questions or concerns about any of the SCLs hosted here, or about a package you'd like to include, send a note to <a
    href='mailto:sclorg@redhat.com'>sclorg@redhat.com</a> (more info at <a
    href='https://www.redhat.com/mailman/listinfo/sclorg'
    target='_blank'>https://www.redhat.com/mailman/listinfo/sclorg</a>) </p>


{% endblock %}
