.scl-toolbar {
    float: right;
}

.pagination {
    padding-top: 10px;
    text-align: center;
}

table.yum-repos th,
table.yum-repos td {
    padding: 5px;
}

.collections-list .stars {
    float: right;
    padding-top: 1.5ex;
}

.page-header h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.scl-tags {
    line-height: 1.7;
}

.control-label {
    padding-right: 0px;
}

.repos td {
    vertical-align: middle;
}

.img-cell {
    width: 32px;
    padding: 5px !important;
}

.approved {
    color: #FFB428;
}
