{% extends "section_docs.html" %}

{% block title %}Quick Start{% endblock %}

{% block content %}

<h1>Quick Start</h1>

<a name="using-software-collections"></a>
<h2>Using Software Collections</h2>

<ol>
<li>Find a Software Collection (SCL) you are interested in. You can browse through the <a href="https://www.softwarecollections.org/en/scls/">available SCLs in our Directory</a>. We will use the <a href="https://www.softwarecollections.org/en/scls/rhscl/python33/">python33 SCL</a> as an example.</li>
<li>Download and install the chosen Software Collection&#39;s repository RPM file for your system (EPEL&nbsp;6 on AMD&nbsp;64 or Intel&reg;&nbsp;64, in our case):
  <pre>yum install rhscl-python33-epel-6-x86_64-1-2.noarch.rpm</pre></li>
<li>Install the main SCL package (its name is identical to the name of the Software Collection):
  <pre>yum install python33</pre></li>
<li>Start using the newly installed Software Collection:
  <pre>scl enable python33 bash</pre></li>
</ol>

<p>For more usage examples and documentation of more complex scenarios, see the <a href="/en/docs/guide/#chap-Introducing_Software_Collections">Software Collections Packaging Guide</a>.</p>
<p>If you need any help, you can ask your question on StackOverflow using the <a href="http://stackoverflow.com/questions/tagged/software-collections">software-collections</a> tag.</p>


<a name="building-software-collections"></a>
<h2>Building Software Collections</h2>

<ol>
<li>Read the <a href="/en/docs/guide/#chap-Packaging_Software_Collections">Software Collections Packaging Guide</a> to learn how to build SCLs locally.</li>
<li>Read the <a href="https://fedorahosted.org/copr/wiki/ScreenshotsTutorial">copr tutorial</a> to learn how to build packages in <a href="http://copr-fe.cloud.fedoraproject.org/">copr</a>.
  <p>Note that:</p>
  <ul>
    <li>Only packages built using copr can be included in our Directory.</li>
    <li>Software Collections built on copr are created with an additional suffix based on the packager&#39;s user name (<code><i>%{copr_username}</i></code>), i.e. the SCL metapackage name is <code><i>%{copr_username}</i>-<i>%{copr_projectname}</i></code>.<br>See the <a href="/en/docs/guide/#sect-Package_Layout">Package Layout</a> and <a href="/en/docs/guide/#sect-Software_Collection_Package_Names">Package Names</a> chapters in the <a href="/en/docs/guide/">Software Collections Packaging Guide</a> for an explanation of standard naming conventions for SCLs.</li>
    <li>In order to build packages with copr, the following lines need to be added to the top of your SCL&#39;s metapackage spec file:
  <pre class="programlisting">
<span class="perl_Comment"># If the build is running on copr</span>
<span class="perl_String">%if 0%</span><span class="perl_Keyword">{?copr_username:<span class="perl_DecVal">1</span>}</span>

<span class="perl_Comment"># define your copr_username and copr_projectname</span>
<span class="perl_String">%global</span> scl <span class="perl_String">%</span><span class="perl_Keyword">{copr_username}</span>-<span class="perl_String">%</span><span class="perl_Keyword">{copr_projectname}</span>

<span class="perl_Comment"># For other build systems, define the provider and the name of the SCL, e.g. myorganization-ruby193</span>
<span class="perl_String">%else</span>
<span class="perl_String">%global scl_name_prefix myorganization-</span>
<span class="perl_String">%global scl_name_base ruby</span>
<span class="perl_String">%global scl_name_version 193</span>

<span class="perl_String">%global scl %{scl_name_prefix}%{scl_name_base}%{scl_name_version}</span>
<span class="perl_String">%endif</span></pre>
    <p>See the <a href="/en/docs/guide/#sect-Creating_a_Meta_Package">Creating a Metapackage</a> chapter in the <a href="/en/docs/guide/">Software Collections Packaging Guide</a> for instructions on how to prepare a metapackage spec file for your SCL.</p>
    </li>
  </ul>
</li>
</ol>


{% endblock %}
