{% extends "section_docs.html" %}

{% block title %}Quick Start{% endblock %}

{% block content %}
<h1>Quick Start</h1>

<p>To start using one of Software Collections (SCLs), all  you need to do is follow
these steps:</p>

<ol>
  <li>Find a collection you are interested in. You can browse through available
  collections in our <a href="/en/scls/">catalogue</a>. We will use <a
  href="/en/scls/rhscl/perl516/">perl516 collection</a> as an example
  </li>
  <li>Download and install the collection repository RPM file for your system
  (EPEL 6 on x86_64 in our case):
  <code>yum install perl516-epel-6-x86_64-1-1.noarch.rpm</code>
  </li>
  <li>Install main SCL package with name identical to the name of the
  collection:
  <code>yum install perl516</code>
  </li>
  <li>Start using newly installed collection:
  <code>scl enable perl516 perl</code>
  </li>
</ol>

<p>For more usage examples and documentation of more complex scenarios see full
<a
href="/en/docs/guide/">Software
Collections Guide</a></p>

{% endblock %}
